:root {
  --pf-selection-background: rgba(217, 217, 217, 0.5);
}

#render-panel {
  font-family: monospace;
}

.justification {
  float: right;
}

.FOL-box,
.simple-box {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
}

.lineno {
  display: block;
  float: left;
  width: 1.8em;
}

.rule {
  clear: both;
}

.cm-editor .cm-selectionBackground {
  background: var(--pf-selection-background);
}

.cm-editor .cm-cursor {
  border-left: 1.2px solid var(--bs-body-color);
}

.cm-editor.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground {
  background: var(--pf-selection-background);
}